.left__sidebar{
  height: 100%
}
.left__item{
  background: var(--colorPurple1);
  transition: all 0.3s ease;
  list-style: none;
  margin-top: 1rem;
  color: var(--colorWhite1);
  cursor: pointer;
}
.left__item:hover{
  background-color: purple;
}
.left__item.active{
  background-color:  var(--colorWhite1);
  box-shadow: -3px 3px 8px 3px black;
  transform: translate( 10px, -3px);
  color: black;
}
.manage__tab{
  padding-left: 1rem;
  display: none;
}
.manage__tab.active{
  display: block;
}
.question__table{
  padding-right: 3rem;
}
.table__body{
  overflow: auto;
  max-height: 40rem;
  display: block;
}
.table__body tr, thead{
  table-layout: fixed;
  display: table;
}