/* testType */
.test-type-title {
    margin: auto;
    font-size: 3rem;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.test-type-section {
    margin-left: 6rem;
    margin-right: 6rem;
    width: calc(100% - 12rem);
    display: flex;
    justify-content: space-between;
}

.test-type {
    width: 100%;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
    font-size: 2.5rem;
    border-radius: 10px 10px 0 0; 
}

.test-type-description {
    margin: auto;
    width: 80%;
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.test-type-container {
    width: calc(50% - 3rem);
    box-shadow: 0px 10px 20px var(--colorGrey3);
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 3rem;
}

.test-type-description>div {
    font-size: 2rem;
    text-align: center;
}
/* testQuestion */
.section-container {
    margin-top: 1.5rem;
    margin-right: 6rem;
    margin-left: 6rem;
    display: flex;
    width: calc(100% - 12rem);
}

.exam-left-column {
    width: 18rem;
}

.exam-right-column {
    margin-left: 6rem;
    width:100%;
}

.timer-container {
    width: 18rem;
    height: 7rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.8rem;
    box-shadow: 0px 5px 5px var(--colorGrey3) ;
    border-radius: 10px;
}

.timer-time-container {
    font-size: 2.5rem;
}

.question-box {
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
    border-radius: 5px;
    box-shadow: 0px 5px 5px var(--colorGrey3) ;
    font-size: 1.5rem;
    cursor: pointer;
}

.test-answer-container {
    display: flex;
    margin-top: 1rem;
}

.test-answer-form {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
    justify-content: flex-end;
}

.test-question {
    font-weight: 700;
    font-style: italic;
    font-size: 1.5rem;
}

.test-answer-container input {
    visibility: hidden;
}

.test-answer-container label {
    cursor: pointer;
}

.test-answer-container input:checked + label {
    color: var(--colorPurple2);
}

.test-answer-container label:hover {
    color: var(--colorPurple2)
}

.test-image {
    text-align: center;
}

.exam-button {
    height: 3rem;
    border-radius: 10px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: var(--colorWhite1);
    border: 0;
    box-shadow: 0px 5px 5px var(--colorGrey3);
}

.submit-answer {
    background-color: var(--colorOrange2);

}

.current-question {
    background-color: var(--colorPink1) !important;
}

.done-question {
    background-color: var(--colorBlue1);
}
