/* User page */
.btn-edit-icon {
    background-color: white;
    border: 0;
    outline: 0;
}

.user-image-container{
    position: relative;
    margin: auto;
    background-color: var(--colorGrey1);
    border-radius: 50%;
    overflow: hidden;
    height: 20rem;
    width: 20rem;
    object-fit: cover;
}
.user-image-container .custom-file-input{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.user-image-container .icon__edit{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: rgb(255, 255, 255);
}
.image_holder{
    object-fit: cover;
}
.image__overlay { 
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.445);
    opacity: 0;
}
.user-image-container:hover .icon__edit,
.user-image-container:hover .image__overlay
{
    opacity: 1;
    display: block
}


/* input upload */
.custom-file-input::-webkit-file-upload-button{
    visibility: visible;
}

/* table test history */
.user__table{
    width: 100%;
    overflow: hidden;
    border-collapse: collapse;
    /* border: 1px sold var(--colorGrey3) */
}
.user__table tbody tr td:first-child{
    border-left: 1px solid var(--colorGrey2) ;
}

.user__table tbody tr td:last-child{
    border-right: 2px solid var(--colorGrey2) ;
}
.user__table td{
    padding: 1rem;
    border-top: 1px solid var(--colorGrey2)
}

.modal-edit-password{
    position: fixed;
    z-index: 1050; 
    padding: 1.75rem 3rem ;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-edit-password-container{
    background-color: var(--colorWhite1);
    margin: auto;
    /* border: 1px solid rgba(0,0,0,.2); */
    max-width: 60rem;
    border-radius: 1rem;
    padding: 1rem
}

.password-edit-button{
    color: var(--colorBlue1);
    background: none;
    border: none;
}
.password-edit-button:hover{
    opacity: 0.7;
}

.message-error{
    color: #ff0000;
    padding: none;
    margin: none;
    text-align: center;
}

/* modal hitory */
.history__modal{
    max-width: 50rem;
    margin: auto;
    padding: 1.75rem 3rem;
    border-radius: 50px !important;
    overflow: hidden;
}
.history__modal .modal-content{
    border-radius: 30px !important;
    overflow: hidden;
}
.history-content{
    background: #ffffff;
    overflow-y: auto;
    border-top: 1px solid;
}
.history-content td{
    font-weight: normal ;
}

.test__record {
    cursor: pointer;
}

.test__record:hover {
    background-color: var(--colorGrey2);
}

.test__record-type {
    margin-left: 2.5rem;
    width: 15%;
}

.test__record-score {
    margin-left: 2.5rem;
}

.test__record-time {
    margin-left: 2.5rem;
}

.test__record-total-time {
    margin-left: 2.5rem;
}




.modal__option:hover{
    background-color: var(--colorGrey2);
}