*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.html{
  font-size: 16p;
}



/* Phần về ảnh tràn ô */
.obj--fit--cover{
  object-fit: cover;
}

.obj--fit--contain{
  object-fit: contain;
}



/* MOUSE CURSOR */
.pointer{
  cursor: pointer;
}



/* Modal */
.modal{
  display: block;
  background-color: #33333377;
}
