*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.html{
  font-size: 16p;
}
a:hover{
  text-decoration: none;
  cursor: pointer;
}
#app{
  min-height: 100vh ;
}


/* Phần về ảnh tràn ô */
.obj--fit--cover{
  object-fit: cover;
}

.obj--fit--contain{
  object-fit: contain;
}



/* MOUSE CURSOR */
.pointer{
  cursor: pointer;
}



/* Modal */
.modal{
  display: block;
  background-color: #33333377;
}


/* table for upload */

.table__data{
  white-space: normal; 
}


/* Loading panel */
.loading__container{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#000000aa;
}

.loading {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}