
# Created by https://www.gitignore.io/api/web
# Edit at https://www.gitignore.io/?templates=web

### Web ###
*.asp
*.cer
*.csr
*.htm
*.php
*.rss
*.wasm
*.wat
*.xhtml
.DS_Store
test.html
testKy.html
testMinh.html
testQuan.html
testPage.html
testQuan.js
# End of https://www.gitignore.io/api/web