*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a:hover{
  text-decoration: none;
  cursor: pointer;
}
#app{
  min-height: 100vh ;
}
.auth-container{
  height: 100vh;
}
.table{
  width: 50vw;
  border: 1px solid #333333;
  border-collapse: collapse;
  /* border-spacing: 0; */
}
.table__head{
  color: blue;
  font-weight: bolder;
  border: 1px solid #333333;
  background-color: violet;
  padding: 1rem 0;
  margin: 0;
}
.table__data{
  text-align: center;
  padding: 1rem 0;
  border: 1px solid #333333
}

/* Utils */
.pointer{
  cursor: pointer;
}

/* Modal */
.modal{
  display: block;
  background-color: #33333377;
}


/* User page */
.user-nav-header{
  width: 100vw;
  height: 1.5vh;
  background: #400ef0;
}
.user-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 12vh;
  background: #661fff;
  font-size: 5vh;
  color: white;
  padding-left: 7vw;
  padding-right: 2vw;
}
.logo-nav-header{
  background: none;
  border: none;
  color: #ffffff;
}
.btn-user-menu{
  background: none;
  border: none;
  color: white;
}
.user-nav-footer{
  width: 100vw;
  height: 2vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.329), white);
  margin-bottom: 6vh;
}

.user-content{
  padding-left: 7vw;
  padding-right: calc(4vw + 36px);
  height: 80.5vh;
  display: flex;
  justify-content: space-between;
}

.user-greetings>div{
  font-size: 30px;
  font-weight: 800;
}

.user-email>div{
  font-size: 20px;
  font-weight: 600;
}

.user-greetings, .user-email{
  display: flex;
  justify-content: space-between;
}


.btn-edit-icon{
  margin-left: 5px;
  background: none;
  border: none;
}
.user-image{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://www.pngitem.com/pimgs/m/146-1468479_my-profile-icon-blank-profile-picture-circle-hd.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  height: 400px;
  width: 400px;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.user-profile-icon{
  background: none;
  border: none;
}
.user-image:hover{
  filter: brightness(90%);
  transition: .3s ease;
}
.far.fa-edit.fa-5x{
  color: #28608f;
}
.far.fa-edit:hover{
  color: black
}

/* table test history */
table, th, td{
  border: 1px solid black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.test-history-see-all, .pros-see-all, .cons-see-all{
  background: none;
  border: none;
  color: white;
}

.user-result{
  /* width: calc(89vw - 436px); */
  width: 88vw;
  padding-left: 10vw;
}

.user-pros, .user-cons{
  width: 23vw;
}

table.table-test-history, .user-pros>table, .user-cons>table{
  width: 100%;
}

.user-test-history{
  margin-bottom: 4vh;
}

.user-pros-cons{
  display: flex;
  justify-content: space-between;
}
